table td{
	min-width: 20px;
	min-height: 20px;
	text-align: center;
}
<<<<<<< HEAD
td.code{
	text-align: left;
}
=======
>>>>>>> FETCH_HEAD
div.empty{
	display: none;
}
#alphabet table tr.symbol td{
	font-weight: bold;
}