table td{
	min-width: 20px;
	min-height: 20px;
	text-align: center;
}
td.code{
	text-align: left;
}
#huffman:not(.empty),#shannon-fano:not(.empty){
	display: inline-block;
}
div.empty{
	display: none;
}
#alphabet table tr.symbol td{
	font-weight: bold;
}
#tree{
	border: 1px solid black;
}